{% extends "base.html" %}
{% block content %}

    <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><i class="fas fa-book-open"></i>Log In</h1>
        <br><br>
    </div>
<!-- Taken from Time Nelsons videos -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
            <!-- Ends here -->
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix black-text"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix black-text"></i>
                    <input id="password" name="password" type="password" minlength="5" max length="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-cyan darken-4 text-shadow">
                    <!-- Taken from Time Nelsons videos -->
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
            <!-- Ends here -->
                Have you registered?
                <a href="{{ url_for('register') }}" class="light-cyan darken-4">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}